@import 'https://fonts.googleapis.com/css?family=Anton|Oxygen';

html, body{
	margin:0;
	padding:0;
	background-color: #091410;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

.title{
	width: 19%;
	height: auto;
	margin:1% 11%;
	font-family:'Anton';
}

.title h1{
	font-size:5em;
	color: #7f161f;
	margin:0 0 -1em;
	letter-spacing: 8px;
}

.title h2{
	font-size: 2.3em;
}
.why .title h2, .who .title h2{
	color:white;
	font-size;
}

.paragraph{
	width: 28%;
	position:absolute;
	color: white;
}

.paragraph p{
	font-family:'Oxygen';
	font-size:1.3em;
	line-height: 1.5;
	margin:0;
}

.why img, .how img, .who img{
	position: absolute;
}

.why .paragraph, .how .paragraph, .who .paragraph{
	z-index: 10;
}

/*-----------------------

HEADER

------------------------*/
.header{
	width: 100%;
	height: 100vh;
	background-image:url('img/bgImg.jpg');
	background-size:100% 100vh;
	background-repeat: no-repeat;
	position:relative;
	z-index: 0
}

.polygon{
	position:absolute;
	width: 57%;
	top:0;
	left:0;
	z-index: 1;
	mix-blend-mode: multiply;
}

.header img{
	width:43%;
	margin:15% 28.5% 9%;
	position: relative;
	z-index: 2;
}

.tagline{
	width: 75%;
	margin:0 auto;
	font-family: 'Oxygen';
	text-align: center;
	position:relative;
	z-index: 2;
}

.tagline span{
	font-size:2.2em;
}

.tagline h3{
	color: white;
	font-size: 2em;
	margin-top: 0;
}

.tagline .button{
	border:2px solid #fbee2d;
	padding:.5em;
	width:12%;
	font-size:1.1em;
	color:#fbee2d;
	text-transform: uppercase;
	margin:0 auto;
	background-color: rgba(0,0,0,0);
	-webkit-transition:all .25s ease-in-out;
	-moz-transition:all .25s ease-in-out;
	-ms-transition:all .25s ease-in-out;
	-o-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out;
}

.tagline .button:hover{
	background-color: #fbee2d;
	color:black;
	margin:0;
}

/*-----------------------

WHY

------------------------*/

.why{
	width: 100%;
	height:100vh;
	background-color: black;
	overflow: hidden;
	position:relative;
}

.why .paragraph{
	right:7.05%;
	bottom:20%;
	padding-right: .7em;
	border-right: solid 2px white;
	text-align: right;
}

.why img{
	width: 82%;
	top:5%;
	left:7%;
}

/*-----------------------

HOW

------------------------*/

.how{
	width:100%;
	height: 100vh;
	background-color: white;
	overflow:hidden;
	position: relative;
}

.how .paragraph{
	top:18.24%;
	left:10.48%;
	color:black;
	padding-left: .7em;
	border-left: solid 2px black;
}

.how img{
	width: 60%;
	top:10%;
	right:5%;
}

/*-----------------------

HOW

------------------------*/

.who{
	width:100%;
	height: 100vh;
	background-color: black;
	overflow: hidden;
	position: relative;
}

.who .paragraph{
	bottom:5%;
	left:10.26%;
	padding:.5em;
	border-left:solid 2px white;
}

.who img{
	width:63%;
	top:7%;
	right: 9.8%;
}

/*-----------------------

BUY NOW

------------------------*/

.buy{
	width: 100%;
	overflow: hidden;
	height:24em;
	background-color:#091410; 
	box-sizing: border-box;
	display: inline-block;
    text-align: center;
    margin-top: 12em;
    padding-top: 3em;
}

.buy .button{
	border: 2px solid #fbee2d;
    font-family: 'Oxygen';
    padding: .5em;
    font-size: 2em;
    color: #fbee2d;
    position: relative;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
	-webkit-transition:all .25s ease-in-out;
	-moz-transition:all .25s ease-in-out;
	-ms-transition:all .25s ease-in-out;
	-o-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out;
}

.buy .button:hover{
	background-color: #fbee2d;
	color:black;
}

/*-----------------------

FOOTER

------------------------*/

#footer{
	background-color: #323232;
    position: relative;
    padding: 3.5em 0 6em 0;
    width: 100%;
    font-family: 'Oxygen';
    text-transform: uppercase;
}

.container{
	width: 90%;
	margin: 0 auto;
}

.grid {
	text-align: center;
}

.footer_social{
	float: left;
    margin-right: 3em;
    width: 16em;
}

.footer_social img{
	width: 18%;
	max-width: 70px;
	padding:.4em;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

.footer_social img:hover{
	opacity: .8;
}

#footer nav{
	color: #6D6E70;
	font-size: 1.1em;
	margin-right: 5%;
	text-align: right;
	padding: 0;
}

nav a{
	color:#6D6E70;
	margin:1em;
}

@media (min-width: 1000px) and (max-width: 1440px){
	.paragraph{ width: 35%; }

	.why .paragraph{
		right:2.05%;
		bottom:10%;
	}

	.how .paragraph{
		top: 25.24%;
		left: 10.48%;
	}

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
	.header{
		background-size: cover;
		background-position: 50%;
	}

	.title{
		width:20%;
		margin-top:9%;
	}

	.header img{
		margin: 55% 28.5% 17%;
	}

	.tagline{
		width: 80%;
	}

	.tagline h3{
		font-size: 1.2em;
	}

	.tagline .button{
		width: 20%;
	}

	.paragraph{ 
		width: 71%; }

	.why img{
		top: 22%;
	}

	.how .paragraph{
		top:25%;
		right:16.48%;
	}

	.how img{
		width:82%;
		top:48%;
		right:11%;
	}

	.who img{
		width:83%;
		top:23%;
	}	

	#footer{
		padding: 3.5em 0 1em 0;
		overflow: auto;
	}

	nav {
		font-size: .9em
	}

	nav a{
		margin:.3em;
	}

	#footer nav{
		float: none;
	    padding: 0;
	    margin: 0 10%;
	    text-align: center;
	}

	.footer_social{
		width:80%;
		margin: 0 10% 2em;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
	.header{
		background-size: cover;
		background-position: center;
	}

	.header img{
		margin: 24% 28.5% 12%;
	}

	.tagline{
		width:88%; 
	}

	.how img{
		top:27%;
	}

	.buy .button{
		margin: 3em 40%;
	}

	#footer{
		padding: 3.5em 0 1em 0;
		overflow: auto;
	}

	nav {
		font-size: .9em
	}

	#footer nav{
		float: none;
	    padding: 0;
	    margin: 0 10%;
	    text-align: center;
	}

	.footer_social{
		width:80%;
		margin: 0 10% 2em;
	}
}

@media (min-width: 320px) and (max-width: 736px) and (orientation: portrait){
	.header{
		background-size: cover;
		background-position: center;
	}

	.header img{
		margin: 65% 24% 12%;
		width: 52%;
	}

	.tagline{
		width: 90%;
	}

	.tagline h3{
		font-size: .8em
	}

	.tagline span{
		font-size: 1.2em;
	}

	.tagline .button{
		font-size: .8em;
		width: 26%;
	}

	.paragraph{
		width: 80%;
	}

	.paragraph p{
		font-size:1.1em;
	}

	.why .paragraph {
	    left: 10%;
	    bottom: 9.2%;
	}

	.why img{
		top:35%;
	}

	.how .paragraph{
		top:26.24%;
	}

	.how img{
		width: 90%;
		top:55%;
	}

	.who img{
		width: 74%;
		top:37%;
	}

	.who .paragraph{
		bottom:1%;
	}

	#footer{
		padding: 3.5em 0 1em 0;
		overflow: auto;
	}

	nav {
		font-size: .9em
	}

	#footer nav{
		float: none;
	    padding: 0;
	    margin: 0 10%;
	    text-align: center;
	}

	nav a{
		margin:3em;
		line-height: 1.7em;
	}

	.footer_social{
		width:80%;
		margin: 0 10% 2em;
	}
}

@media (min-width: 320px) and (max-width: 736px) and (orientation: landscape){
	.header img{
		margin: 18% 28.5% 3%;
	}

	.tagline{
		width: 90%;
	}

	.tagline h3{
		font-size: 1.3em;
	}

	.tagline span{
		font-size: 1.7em;
	}

	.tagline .button{
		font-size: 1.3em;
		width: 20%;
	}

	.paragraph{
		width:90%;
	}

	.paragraph h1{
		font-size: 1.7em;
	}

	.paragraph p{
		font-size: 1em
	}

	.why .paragraph{
	    left: 5%;
	    bottom: 6.2%;
	}

	.why img{
		width: 67%;
	    top: 13%;
	    left: 17%;
	}

	.how .paragraph{
		left: 5%;
	    top: 32.24%;
	    width: 45%;
	}

	.how img{
		width:48%;
		top	:23%;
	}

	.who img{
		width: 58%;
	}

	.who .paragraph{
		left:5%;
		bottom:8%;
		width: 63%;
	}

	.buy .button{
		margin-top: 3em;
	}

	#footer{
		padding: 3.5em 0 1em 0;
		overflow: auto;
	}

	nav {
		font-size: .9em
	}

	nav a{
		margin: 0.6em;
	    font-size: 0.7em;
	}

	#footer nav{
		float: none;
	    padding: 0;
	    margin: 0 10%;
	    text-align: center;
	}

	.footer_social{
		width:80%;
		margin: 0 10% 2em;
	}

	.footer_social img{
		width:7%;
		padding:0 1.1em;
	}
}





